<%= render "layouts/topnav" %>

<%= render "layouts/header" %>

<section id="aboutApp" class="pageContent">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Mikä ihmeen Snappaajat.fi</h1>
				<h3>Snappaajat.fi on sivusto, jonka avulla löydät ja tulet löydetyksi Snapchatistä.<br/>
				Olit sitten uusi tai kokenut Snapchatkäyttäjä Snappaajat.fi:n avulla pääset tutustumaan uusiin ja mielenkiintoisiin Snapchatprofiileihin.
				Sivusto on täysin ilmainen ja rekisteröityä voi kuka tahansa.
				</h3>
				<p>Snappaajat.fi sai alkunsa kun sivuston suunnittelija ja kehittäjä 
				<a href="http://www.andreaskoutsoukos.com" target="_blank">Andreas Koutsoukos</a> (@vjandrei) liittyi Snapchattiin.
				Hän halusi löytää mielenkiintoisia Snapchat profiileita, joita alkaisi seuraamaan. Kävi ilmi, että 
				seuraajien löytäminen oli tehtävä puskaradiolla. Tämä ei ollut Andreaksen mieleen vaan hän 
				päätti alkaa rakentamaan Snappaajia.fi sivustoa, jossa seurattavia löytäisi helposti.
				</p>
				
				<section class="termsOfUse" id="termsOfUseContainer">
					<h2>Käyttöehdot</h2>
					<h3>Yleistä</h3>
					<p>Andreas Koutsoukos tarjoaa käyttäjälle Snappaajat.fi-palvelun 
					internet-osoitteessa snappaajat.fi näiden käyttöehtojen ja niihin mahdollisesti 
					myöhemmin tehtävien lisäysten ja muutosten mukaisesti.</p>
				</section>
				
				<section class="termsOfUse">
					<h3>Käyttäjän valvoitteet</h3>
					<p>Käyttäjä sitoutuu noudattamaan Suomen lakia ja muita säännöksiä. Käyttäjä sitoutuu olemaan käyttämättä 
					sivustoa lain tai hyvien tapojen vastaisiin toimenpiteisiin, kaupallisiin tarkoituksiin tai
					markkinointiin. Käyttäjä ei saa levittää sivustolla mitään yhteystietoja, eikä muiden henkilöiden 
					henkilötietoja.</p>
				</section>
				
				<section class="termsOfUse">
					<h3>Käyttäjätunnus</h3>
					<p>Snappaajat.fi:llä on oikeus ilman eri perustelua ottaa 
					käyttöönsä tai poistaa käyttäjätunnukseen liitetty nimimerkki. Tällöin käyttäjälle myönnetään uusi nimimerkki.</p>

					<p>Jos käyttäjä ei noudata näitä käyttöehtoja tai palvelukohtaisia 
					sääntöjä, on Snappaajat.fillä oikeus poistaa käyttäjän profiili sekä kaikki 
					käyttäjän koskevat tiedot käyttäjätietokannasta ja asettaa käytönesto IP osoitteeseen.</p>
				</section>
				
				<section class="termsOfUse">
					<h3>Snappaajat.fi:n oikeudet ja velvoitteet</h3>
					<p>Snappaajat.fi noudattaa Suomen tietosuojalainsäädännön säännöksiä. Käyttäjän antamia tietoja ei 
					luovuteta kolmansille osapuolille ilman käyttäjän lupaa muuten kuin lain määräyksestä. 
					Snappaaajat.fi voi luovuttaa kolmansille osapuolille asiakkaita 
					koskevia tietoja, joista yksittäinen asiakas ei ole tunnistettavissa.</p>
				</section>
				
				<section class="termsOfUse">
					<h3>Linkit ja mainokset</h3>
					<p>Snappaajat.fi ei vastaa sivustolla olevien mainosten
					sisällöstä, eikä mainoksissa tai linkeissä tarjottavien 
					Palveluiden sisällöstä, virheettömyydestä tai niitä koskevien tietojen oikeellisuudesta.</p>
				</section>
				
			</div>
		</div>
	</div>
</section>