<%= render "layouts/header" %>
<%= render "layouts/filters" %>
<section id="aboutApp" class="pageContent">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Mikä ihmeen Snappaajat.fi</h1>
				<h3>Snappaajat.fi on sivusto jonka avulla löydät ja tulet löydetyksi Spachatistä.<br/>
				Olit sitten uusi tai kokenut Snapchat käyttäjä Snappaajat.fi:n avulla pääset tutustumaan uusiin ja mielenkiintoisiin Snapchat profiileihin.<br/>
				Sivusto on täysin ilmainen ja rekisteröityä voi kuka tahansa.<br/>
				<br/><br/>
				
				</h3>
			</div>
		</div>
	</div>
</section>