<%= render "layouts/topnav" %>

<%= render "layouts/header" %>

<section id="#forumApp" class="pageContent">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Keskustelupalsta</h1>
				<h3>Tulossa pian!</h3>
				<p>Keskustelupalstalla voit keskustella vapaasti aiheesta kuin aiheesta. Lis채ksi siell채 infotaan esimerkiksi sn채ppihaasteista ja jaetaan tietoa muista Snapchattiin liittyvist채 ajankohtaisuuksista.</p>
			</div>
		</div>
	</div>
</section>