<%= render "layouts/topnav" %>

<%= render "layouts/header" %>

<section id="#forumApp" class="pageContent">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h1>Keskustelupalsta</h1>
				<h3>Tulossa pian!</h3>
				<p>Keskustelu palstalla voi keskustella vapaasti aiheesta kuin aiheesta. Sielä myös jaetaan esim. snäppi haasteita ja muitakin hauskoja aiheita liittyen Snapchattiin.</p>
			</div>
		</div>
	</div>
</section>