<div id="nav-share">
	<ul>
	<li class="title">Jaa</li>      
	<li id="facebook">
	<button class="sharer button" data-sharer="facebook" data-url="http://www.snapppaajat.fi/"></button>
	</li>
	<li id="twitter">
	<button class="sharer button" data-sharer="twitter" data-title="Löydä vaivattomasti Snapchattaajat ja voit myös
lisätä oman tunnuksesi sivustolle. #snappaajat" data-url="http://www.snapppaajat.fi/"></button>
	</li>
	</ul>
</div>

